USE [SoftEng]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStudentById]    Script Date: 10/17/2025 3:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_DeleteStudentById] 
(@Id int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Student 
	SET IsDeleted=1
	WHERE Id=@Id;
END
