USE [SoftEng]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentById]    Script Date: 10/17/2025 3:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetStudentById] 
(@Id int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Student 
	WHERE Id=@Id AND IsDeleted=0;
END