USE [SoftEng]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudents]    Script Date: 10/17/2025 3:44:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetStudents] 
(@Page int, @Size int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--Calculate row bounderies
	DECLARE @Offset INT = (@Page - 1) * @Size;

    -- CTE & Pagination
	;WITH StudentCTE AS
	(
		SELECT 
		  s.Id,
		  s.[FirstName]
		  ,s.[LastName]
		  ,s.[StudentId]
		  ,s.[EmailAddress]
		  ,s.[PhoneNumber]
		  ,s.[DOB]
		  ,s.[Gender]
		  ,s.[SchoolYear]
		  ,s.[YearSemester]
		  ,s.[ProgramClass]
		  ,s.[HomeAddress]
		  ,s.[EmergencyContact]
		  ,s.[EmergencyPhone]
		  ,s.[AdditonalNotes]
		  ,s.[CreatedDate]
		  ,s.[ModifiedDate]
		 ,COUNT(1) OVER() AS TotalCount
		FROM Student s
		WHERE IsDeleted=0
	)
	SELECT 
		Id
		,[FirstName]
		,[LastName]
		,[StudentId]
		,[EmailAddress]
		,[PhoneNumber]
		,[DOB]
		,[Gender]
		,[SchoolYear]
		,[YearSemester]
		,[ProgramClass]
		,[HomeAddress]
		,[EmergencyContact]
		,[EmergencyPhone]
		,[AdditonalNotes]
		,[CreatedDate]
		,[ModifiedDate]
		,TotalCount
		,CEILING(1.0 * TotalCount / @Size) AS TotalPages
	FROM StudentCTE
	ORDER BY FirstName
	OFFSET @Offset ROWS
	FETCH NEXT @Size ROW ONLY;
END
