USE [SoftEng]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertStudent]    Script Date: 10/17/2025 3:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sp_InsertStudent](
@FirstName VARCHAR(50),
@LastName VARCHAR(50),
@StudentId VARCHAR(50),
@EmailAddress VARCHAR(50),
@PhoneNumber VARCHAR(12),
@DOB date,
@Gender VARCHAR(10),
@SchoolYear VARCHAR(20),
@YearSemester VARCHAR(20),
@ProgramClass VARCHAR(50),
@HomeAddress VARCHAR(200),
@EmergencyContact VARCHAR(50),
@EmergencyPhone VARCHAR(12),
@AdditonalNotes VARCHAR(200),
@Id int out
)
AS
BEGIN
INSERT INTO [dbo].[Student]
           (
			[FirstName]
			,[LastName]
			,[StudentId]
			,[EmailAddress]
			,[PhoneNumber]
			,[DOB]
			,[Gender]
			,[SchoolYear]
			,[YearSemester]
			,[ProgramClass]
			,[HomeAddress]
			,[EmergencyContact]
			,[EmergencyPhone]
			,[AdditonalNotes]
			,[CreatedDate]
           )
     VALUES
           (
			@FirstName
			,@LastName
			,@StudentId
			,@EmailAddress
			,@PhoneNumber
			,@DOB
			,@Gender
			,@SchoolYear
			,@YearSemester
			,@ProgramClass
			,@HomeAddress
			,@EmergencyContact
			,@EmergencyPhone
			,@AdditonalNotes
			,GETDATE()
		   )

    SELECT @Id = SCOPE_IDENTITY();
END


