USE [SoftEng]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStudent]    Script Date: 10/17/2025 3:45:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sp_UpdateStudent](
@Id int,
@FirstName VARCHAR(50),
@LastName VARCHAR(50),
@EmailAddress VARCHAR(50),
@PhoneNumber VARCHAR(12),
@DOB date,
@Gender VARCHAR(10),
@SchoolYear VARCHAR(20),
@YearSemester VARCHAR(20),
@ProgramClass VARCHAR(50),
@HomeAddress VARCHAR(200),
@EmergencyContact VARCHAR(50),
@EmergencyPhone VARCHAR(12),
@AdditonalNotes VARCHAR(200)
)
AS
BEGIN
    UPDATE [dbo].[Student]
    SET 	[FirstName]=@FirstName
			,[LastName]=@LastName
			,[EmailAddress]=@EmailAddress
			,[PhoneNumber]=@PhoneNumber
			,[DOB]=@DOB
			,[Gender]=@Gender
			,[SchoolYear]=@SchoolYear
			,[YearSemester]=@YearSemester
			,[ProgramClass]=@ProgramClass
			,[HomeAddress]=@HomeAddress
			,[EmergencyContact]=@EmergencyContact
			,[EmergencyPhone]=@EmergencyPhone
			,[AdditonalNotes]=@AdditonalNotes
			,[ModifiedDate]=GETDATE()
    WHERE Id = @Id;
END